body {
	min-height: 2000px;
}

.custom-navbar-bg {
	background-color: #112B3C;
}

.jumbotron-custom {
	padding-top: 2rem;
	background-color: #EFEFEF;
}

.project-custom {
	background-color: #EFEFEF;
}